[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"  # Uncomment this line if you want to include pytest for development

[packages]
sqlalchemy = "*"  # SQLAlchemy for ORM
click = "*"       # Click for CLI functionality
alembic = "*"     # Alembic for database migrations

[requires]
python_version = "3.10"
